// 2018-04-06 It is a specific selector of the Mageplaza One Step Checkout module.
.one-step-checkout-container {
	.step-content {padding-top: 0 !important;}
	.step-title {margin-bottom: 0;}
	#checkout-step-payment {
		padding-top: 12px !important;
		legend {display: none;}
	}
	// 2018-04-06
	// "Fix the «Shipping Methods» block position on the checkout page":
	// https://github.com/mage2pro/frugue.com/issues/1
	#opc-shipping_method {
		margin-top: 0; padding-top: 0;
		.table-checkout-shipping-method {
			tr {
				display: table-row;
				td {
					display: table-cell;
					&.col-carrier {display: none;}
					&.col-method {cursor: pointer; padding: 0;}
					input.radio {margin-top: 0;}
				}
			}
		}
	}
	input.input-text, select, textarea {padding-left: 1em;}
	input, select {min-height: auto;}
	input {
		&.google-auto-complete {display: inline-block;}
		&.item_qty {padding: 1px 0;}
	}
	select {height: 36px;}
}
.onestepcheckout-index-index {
	.page-title {margin-bottom: 36px !important;}
	.modal-popup .field {text-align: left;}
}