// 2018-06-01
// «Magento 2 store footer update & content page update»
// https://www.upwork.com/ab/f/contracts/20124474
.cms-page-view {
	.page-main {padding-top: 2rem;} // 2018-06-01 It is `100px` in the design theme.
	h1.page-title {
		flex-basis: auto; // 2018-06-02 The design theme set it to `66.66667%` for some CMS pages.
		margin-bottom: 1.5rem; // 2018-06-01 It is `36px` in the design theme.
		margin-left: 0; // 2018-06-02 The design theme set it to `calc(16.66667% + 8px)` for some CMS pages.
		max-width: auto; // 2018-06-02 The design theme set it to `66.66667%` for some CMS pages.
	}
	caption, h2 {
		font-size: 1.25rem; // 2018-06-01 It is `1.5rem` in the design theme.
		margin-bottom: 0.2rem; // 2018-06-01 It is `25px` in the design theme.
	}
	caption {color: black; font-weight: 600; text-align: left;} // 2018-06-01 The same styles as for `h2`.
	h2 {margin-top: 1.25rem;}
	p {margin-bottom: 0.5rem;}
	table {margin: 1.25rem 0;}
	th {font-weight: bold;}
	&.cms-shipping .column.main table {
		td, th {&:not(:first-child) {padding-left: 2rem;}}
	}
	// 2018-10-29 Add a bra size chart to product pages»: https://github.com/frugue/core/issues/46
	&.cms-size-conversion-chart .column.main table {
		td, th {padding: 0.2rem 0.5rem;}
		td {border: 1px solid rgb(234, 233, 233);}
		tr:first-child, tr.frugue-delimiter + tr {td {font-weight: 550;}}
		tr.frugue-delimiter td {border: 0; line-height: 50%;}
	}
}