// 2018-10-04  «Improve the main menu layout»: https://github.com/frugue/core/issues/12
.container {
	@media (max-width: 1199px) and (min-width: 768px) {  flex-wrap: nowrap !important;}
	> a.logo, strong.logo {@media (min-width: 1200px) {width: 195px !important;}}
	> nav.navigation {
		@media (min-width: 1200px) {margin-top: -0.2em;}
		@media (max-width: 1199px) and (min-width: 768px) {order: 0 !important;}
		.rd-navbar-nav {
			text-align: center;
			> li {&.first {margin-left: 0.8em;} &.last {margin-right: 0;}}
		}
	}
}
@media (max-width: 1199px) and (min-width: 768px) {
	.rd-navbar-static .rd-navbar-nav {border-top: 0; margin-top: 0; padding-top: 0;}
}
// 2018-10-29
// «The mini-cart's product count indicator should react on tapping in mobile devices»:
// https://github.com/frugue/core/issues/47
@media (max-width: 767px) {.switcher-store {width: 9.5em !important;}}