@media(max-width: 767px) {
	.df-desktop-only {display: none;}
	.products-grid .product-item-photo {margin-bottom: 15px;}
	.toolbar-products {padding-bottom: 15px; margin-bottom: 30px;}
	.catalog-product-view .page-main.fix-indent {padding-top: 20px;}
}
@media(min-width: 768px) {.df-mobile-only {display: none;}}
// 2018-09-03
// "Move the «Add to Wish List» button to the same position as in victoriassecret.com"
// https://github.com/frugue/core/issues/30
@media (min-width: 992px) {.products-grid .product-items:not(.owl-carousel) .product-item {
	margin-bottom: 25px; padding-bottom: 25px;
}}
// 2018-08-25 "Disable the product comparison feature" https://github.com/frugue/core/issues/31
a.tocompare {display: none !important;}
// 2018-09-10
// The previous selector was: `.catalog-category-view`.
// It led to the error:
// "The «add to wishlist» icon (heart) is positioned incorrectly on search result pages"
// https://github.com/frugue/core/issues/36
// So I use a more universal selector.
// Another solution is to use the `.catalog-category-view, .catalogsearch-result-index` selector.
.page-products {
	// 2018-08-24
	// "Remove the «Add to Cart» button from the frontend product list"
	// https://github.com/frugue/core/issues/29
	// 2018-09-04
	// I have added the `.column.main` prefix to preserver the «Add to Cart» button in the sidebar.
	.column.main .actions-primary {display: none;}
	// 2018-09-03
	// "Move the «Add to Wish List» button to the same position as in victoriassecret.com"
	// https://github.com/frugue/core/issues/30
	.actions-secondary > .towishlist {float: right; margin: 0; right: 10px; top: 35px; z-index: 2;}
}
// 2018-09-04
// "Fix the «In den Warenkorb» button appearance in the «Mein Wunschzettel» block"
// https://github.com/frugue/core/issues/25
#wishlist-sidebar button.tocart {
	font-size: 14px;
	font-weight: 600;
	line-height: 20px;
	padding: 11px 19px 12px;
	text-transform: uppercase;
}