@media(max-width: 767px) {
	.df-desktop-only {display: none;}
	.products-grid .product-item-photo {margin-bottom: 15px;}
	.toolbar-products {padding-bottom: 15px; margin-bottom: 30px;}
	.catalog-product-view .page-main.fix-indent {padding-top: 20px;}
}
@media(min-width: 768px) {.df-mobile-only {display: none;}}