<?xml version='1.0'?>
<config
	xmlns:xsi='http://www.w3.org/2001/XMLSchema-instance'
    xsi:noNamespaceSchemaLocation='urn:magento:framework:Module/etc/module.xsd'
>
	<module name='Frugue_Core' setup_version='0.0.1'>
		<sequence>
<!-- 2018-09-03
"Move the «Add to Wish List» button to the same position as in victoriassecret.com":
https://github.com/frugue/core/issues/30 -->
			<module name='Magento_Catalog'/>
			<module name='Magento_CatalogSearch'/>
			<module name='Magento_Cms'/>
			<module name='Magento_Contact'/>
			<module name='Magento_Customer'/>
			<module name='Magento_Sales'/>
			<module name='Magento_Search'/>
			<module name='Magento_Theme'/>
<!-- 2018-09-03
"Move the «Add to Wish List» button to the same position as in victoriassecret.com":
https://github.com/frugue/core/issues/30 -->
			<module name='Magento_Wishlist'/>
<!-- 2018-08-23
"Remove the «Ajax Wishlist» heading from the wishlist update confirmation popup"
https://github.com/frugue/core/issues/18 -->
			<module name='TemplateMonster_AjaxWishlist'/>
			<module name='TemplateMonster_FilmSlider'/>
		</sequence>
	</module>
</config>
